<div class="jumbotron">
<h1>About</us>
	<p>The main objective of this app is to showcase my Rails skills</p>
	<p>I designed and completed this app in a little over a week</p> 
	<p>This is my first experience ever with Ruby on Rails</p>
		

</div>
