<div class="jumbotron">
	<h1>Welcome to the Shiba Inu Instagram Community!</h1>
	<p>The only online community that provides ORGANIC support from real Shiba Inu Instagram users</P>
	<p>Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %></p>
</div>

<div class="jumbotron">
	<h1>Check out some of our awesome members!</h1>

</div>	